

.header_container {
display: flex;
justify-content: space-between;
align-items:  center;
height: 80vh;
margin-top: 1rem;
padding: 0rem 2rem;
}
.header_container-title {
    margin-top: 2rem;
    width: 50%;
}
.header_container-title h1{
    margin: 0;
    font-size: 5rem;
    font-weight: bold;
}
.cup_shape {
    position: absolute;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: rgb(153, 47, 47);
    z-index: 1;
    transform: translate(25px, 120px);
}
.header_container-image {
    display: flex;
flex-direction: column;
    align-items: center;
    background-color: white;
}
.header_container-image {
    width: 500px;
}
.header_container-image img {
    height: 100%;
    width: 100%;
    z-index: 2;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}
@media screen and (min-width: 481px) and (max-width: 850px) {
    .header_container-title h1:first-child{
        font-size: 35px;
    }
    .header_container-title h1:last-child {
        font-size: 5w0px;
    }
    .header_container {
        height: auto;
    }
    .header_container-image img {
        width: 300px;
    }
    .cup_shape {
        height: 250px;
        width: 250px;
        transform: translate(20px, 80px);
    }
}
@media screen and (min-width: 322px) and (max-width: 480px) {
.header_container {
    flex-direction: column;
    justify-content: flex-start;
    padding:  0 1rem;
}
.header_container-title {
    width: 100%;
}
.header_container-title h1 {
    font-size: 4.5rem;
    
}
.header_container-title h1:first-child {
    font-size: 3.5rem;
    white-space: nowrap;
}
.cup_shape {
    height: 250px;
    width: 250px;
    transform: translate(10px, 65px);
}
.header_container-image {
    width: 300px
}
}
@media screen and (min-width: 100px) and (max-width: 321px) {
.header_container {
    flex-direction: column;
    justify-content: flex-start;
    padding:  0 1rem;
}
.header_container-title {
    width: 100%;
}
.header_container-title h1 {
    font-size: 3.5rem;
    
}
.header_container-title h1:first-child {
    font-size: 3rem;
    white-space: nowrap;
}
.cup_shape {
    height: 200px;
    width: 200px;
    transform: translate(10px, 65px);
}
.header_container-image {
    justify-content: flex-start;
    width: 250px
}
}