.tray_container {
  flex-direction: column;
}
.tray_title {
  padding: 2rem 0;
}
.tray_title h1 {
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 1px;
}

.tray_header_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  width: 700px;
  padding: 2rem 1rem;
  gap: 1rem;
  overflow: scroll;
}
.tray_header_items::-webkit-scrollbar {
  display: none;
}
.tray_header-card {
  display: flex;
  align-items: center;
  width: 90%;
  min-height: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.tray_header-image {
  height: 100%;
  max-width: 30%;
}
.tray_header-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.tray_header-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.tray_header-title h2 {
  font-size: 28px;
}
.tray_header-title_footer {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}
.tray_header-title_footer h4 {
  font-size: 25px;
}
.traycard_container-qunatity {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.traycard_container-qunatity p {
  margin: 0;
}
.traycard_container-qunatity button {
  height: 25px;
  width: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.tray_header-sub_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.tray_subtotal-card_mobile {
  width: 100px;
}
.tray_subtotal_container_mobile {
  display: none;
}
.tray_subtotal_container {
  padding: 2rem 1rem;
  margin-top: 1.5rem;
}

.tray_subtotal-card_total h5 {
  font-size: 25px;
}
.tray_subtotal-card_taxes p {
  font-size: 20px;
  color: gray;
}
.tray_subtotal-card_taxes h4 {
  font-size: 45px;
}
.tray_subtotal-footer_large {
  margin-top: 2rem;
}
.tray_subtotal-footer_large button {
  font-size: 20px;
  padding: 10px 0;
  width: 100%;
  border-radius: 5px;
  border: 0;
  outline: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--primary-color);
  color: white;
}

@media screen and (min-width: 600px) and (max-width: 1040px) {
  .tray_header_items {
    width: 60%;
  }
  .tray_header-title_footer h4  {
    font-size: 20px;
  }
.tray_subtotal-card_total h5 {
  font-size: 15px;
}
.tray_subtotal-card_taxes p {
  font-size: 20px;
  color: gray;
}
.tray_subtotal-card_taxes h4 {
  font-size: 25px;
}
.tray_subtotal-footer_large {
  margin-top: 2rem;
}
.tray_subtotal-footer_large button {
  font-size: 16px;
}
}
@media screen and (min-width: 322px) and (max-width: 500px) {
.tray_subtotal_container {
    display: none;
  }
  .tray_header_items {
    padding: 1rem 0;
  }
  .tray_header-title {
    gap: 0;
  }
  .tray_header-card {
    min-height: 150px;
  }
  .tray_header_items {
    height: 60vh;
    overflow: scroll;
    width: 100%;
  }
  .tray_header-image {
    width: 200px;
  }
  .tray_header-title h2 {
    font-size: 18px;
  }
  .tray_header-title p {
    font-size: 12px;
  }
  .tray_header-title_footer {
    align-items: center;
    margin-top: 1rem;
  }
  .tray_header-title_footer h4 {
    font-size: 14px;
  }
  .tray_header-sub_container {
    flex-direction: column;
    align-items: center;
  }
  /* subtotal */
  .tray_subtotal_container_mobile {
    display: block;
    border-top: 2px solid lightgray;
    width: 90%;
    min-height: 100px;
  }
  .tray_subtotal-card_mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    width: 100%;
    height: 100%;
    margin-top: 1rem;
  }

  .tray_subtotal-card_mobile h5 {
    font-size: 18px;
  }
  .tray_subtotal-footer button {
    width: 100%;
    white-space: nowrap;
    padding: 10px 10px;
    justify-content: center;
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--primary-color);
    color: white;
    margin-bottom: 10px;
  }
  .tray_subtotal-card_mobile_total {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tray_subtotal-card_mobile_taxes p {
    font-size: 14px;
    color: gray;
  }
  
}
@media screen and (min-width: 100px) and (max-width: 321px) {
  .tray_subtotal_container {
    display: none;
  }
  .tray_header_items {
    padding: 1rem 0;
  }
  .tray_header-title {
    gap: 0;
  }
  .tray_header-card {
    min-height: 150px;
  }
  .tray_header_items {
    height: 60vh;
    overflow: scroll;
    width: 100%;
  }
  .tray_header-image {
    width: 200px;
  }
  .tray_header-title h2 {
    font-size: 18px;
  }
  .tray_header-title p {
    font-size: 12px;
  }
  .tray_header-title_footer {
    align-items: center;
    margin-top: 1rem;
  }
  .tray_header-title_footer h4 {
    font-size: 14px;
  }
  .tray_header-sub_container {
    flex-direction: column;
    align-items: center;
  }
  /* subtotal */
  .tray_subtotal_container_mobile {
    display: block;
    border-top: 2px solid lightgray;
    width: 90%;
    min-height: 100px;
  }
  .tray_subtotal-card_mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    width: 100%;
    height: 100%;
    margin-top: 1rem;
  }

  .tray_subtotal-card_mobile h5 {
    font-size: 18px;
  }
  .tray_subtotal-footer button {
    width: 100%;
    white-space: nowrap;
    padding: 10px 10px;
    justify-content: center;
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--primary-color);
    color: white;
    margin-bottom: 10px;
  }
  .tray_subtotal-card_mobile_total {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tray_subtotal-card_mobile_taxes p {
    font-size: 14px;
    color: gray;
  }
  
}
